body {
  background-color: #DCF2F2;
}

// .form-container {
//   margin: 0px 10px 0px 10px;
// }
h1, h2, h3, h4 {
  font-family: 'Merriweather', serif;
}


p {
  color: black;
  font-family: arial;
}

a:link {
    color: $orange;
}

a:visited {
    color: $orange;
}

a:hover {
    color: $brown;
}

a:active {
    color: $brown;
}
