#maintitle {
  font-size: 70px;
  h1 {
  font-family: 'Merriweather', serif;
  color: black;

  }
}

.banner {
  background-size: cover;
  color: white;
  padding: 120px 0;
  position: relative;
  height: 400px;
}

// .container {
//   height: 400px;
// }
