.wrapper {
  height: 100vh;
  color: white;
  padding-top: 7%;
  // background:url('houses.jpg') white no-repeat;
  h1 {
    font-size: 65px;
  }
}
h4 {
  font-size: 26px;
  padding-top: 47px;
  padding-bottom: 49px;
}

.banner {
  background-size: cover;
  color: white;
  // padding: 120px 0;
  position: relative;
  height: 350px;
}

.banner-grey {
    background-size: cover;
    padding-top: 16px;
    padding-bottom: 30px;
}
.btn {
  background-color: $bright-red;
}
.card {
  background-size: cover;
  background-color: $beige;
  padding: 2px 25px;
  border-top: solid 10px $blue;
  border-radius: 2px;
  height: 425px;
  margin-bottom: 20px;
  box-shadow: 4px 4px 4px rgba(220,220,220,.5);
  h4 {
    line-height: 115%;
    padding-bottom: 0;
      a:hover {
      text-decoration: none;
    }
  }
}
