<!-- <div class="footer">Here is a space for the footer.</div>
 -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline">
          <li>
            <a href="#">
              <i class="fa fa-facebook footer-left"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-twitter footer-left"></i>
            </a>
          </li>
          <li>
            <a href="">
              <i class="fa fa-youtube footer-left"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
