<!-- <div class="footer">Here is a space for the footer.</div>
 -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <ul class="list-inline pull-left footer-left footer-icons">
          <li>
            <a href="https://www.facebook.com/groups/P4C11/">
              <i class="fa fa-facebook pull-left"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/actionaiddk">
              <i class="fa fa-twitter pull-left"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
