
<nav class="my-navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "See all our projects", projects_path, class: "navbar-brand" %>
        <a class="navbar-brand" href="#">contact </a>
        <a class="navbar-brand" href="#">about</a>
        <%= link_to "log in", new_user_session_path, class: "navbar-brand" %>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">

      </form>
      <ul class="nav navbar-nav navbar-right">

    </ul>
    </div>
  </div>
</nav>

  <!-- TODO: This button needs to submit to login -->
