<div class="container">
<div id=maintitle>
A World of Difference </div>
</div>

<div class="banner">

  <h1>World of Difference</h1>
  <h3>Volunteering in the Digital Age</h3>

</div>

<!-- used to be on application.html.erb -->
<div class="container">
    <%= render "shared/card" %>
</div>



<!-- Button with link to sign up -->
<!-- Example projects, or link to project index -->
<!-- cards of the skill categories? -->
