<div class="banner">
  <div class="container">
    <h1>A World of Difference</h1>
    <h3>Volunteering in the Digital Age</h3>
    <%= link_to "Create an account", new_user_registration_path, class: "btn btn-medium" %>
  </div>
</div>
