<div class="wrapper" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(39, 65, 68, 0.21)), url(<%= image_path 'houses.jpg' %>)">
  <div class="text-center">
    <h1>A World of Difference</h1>
    <h3>Volunteering in the digital age</h3>
  </div>
</div>

<% cities = ["Nairobi", "Karachi", "Delhi", "New York City", "Mumbai", "Sao Paulo", "Copenhagen", "Lahore", "Perth", "Jelling", "Paris", "Vilnius"] %>
<% times = ["60 hours", "20 hours", "10 hours", "30 hours", "5 hours"] %>

<div class="container">
  <h4 class="text-center">Contribute to your favorite causes by volunteering online</h4>
  <div class="banner-grey">
    <div class="text-center">
        <%= link_to projects_selected_path do %>
            <div class="btn">
              <h5>Browse our projects</h5>
            </div>
        <% end %>

    </div>
  </div>
</div>
