<div class="banner" style="background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)), url(<%= image_path 'houses.jpg' %>)">
  <div class="container text-center">
    <h1>A World of Difference</h1>
    <h3>Volunteering in the digital age</h3>
  </div>
</div>

<div class="container text-center padded">
  <h4>Contribute to your favorite causes or get help with your own project</h4>
  <div>
    <span>
      <%= link_to "Browse projects", projects_selected_path, class: "card" %>
      <%= link_to "Create project", new_project_path, class: "card" %>
    </span>
  </div>
</div>




