<div class="banner">
  <div class="container">
    <h1>A World of Difference</h1>
    <h3>Volunteering in the Digital Age</h3>
    <button type="submit" class="btn btn-medium">Create an account</button>
  </div>
</div>


<!-- used to be on application.html.erb -->





<!-- Button with link to sign up -->
<!-- Example projects, or link to project index -->
<!-- cards of the skill categories? -->
