.btn {
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $orange;
  transition: background 0.4s ease;
}
.btn:hover {
  color: $bright-red;
  background: $orange;
  opacity: .85;
  text-decoration: none;
}

// Copy
// <div class="btn-group" role="group" aria-label="...">
//   <button type="button" class="btn btn-default">Left</button>
//   <button type="button" class="btn btn-default">Middle</button>
//   <button type="button" class="btn btn-default">Right</button>
// </div>
