.btn {
  color: white;
  border-radius: 10px;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $bright-red;
  transition: background 0.3s ease;
}
.btn:hover {
  color: white;
  background: $bright-red;
  text-decoration: none;
  opacity: .8;
}

.btn-facebook {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #3b5998;
  transition: background 0.3s ease;
}
.btn-facebook:hover {
  color: white;
  background: #3b5998;
  opacity: .8;
  text-decoration: none;
}

// Copy
// <div class="btn-group" role="group" aria-label="...">
//   <button type="button" class="btn btn-default">Left</button>
//   <button type="button" class="btn btn-default">Middle</button>
//   <button type="button" class="btn btn-default">Right</button>
// </div>
